<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel</title>
    <link rel="stylesheet" th:href="@{./main.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<table>
    <thead>
    <tr>
        <th>License Plate</th>
        <th>Maker</th>
        <th>Model</th>
        <th>Registration</th>
        <th>km</th>
        <th>Winter Tires</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${cars.isEmpty()}">
        <td colspan="2"> No Cars Available</td>
    </tr>
    <tr th:each="car : ${cars}">
        <td><span th:text="${car.getLicensePlate()}"> License Plate </span></td>
        <td><span th:text="${car.getManufacturer()}"> Manufacturer </span></td>
        <td><span th:text="${car.getModel()}"> Model </span></td>
        <td><span th:text="${car.getRegistrationDate()}"> RegistrationDate </span></td>
        <td><span th:text="${car.getOdometer()}"> Odometer </span></td>
        <td><span th:text="${car.getWinterTiresEquipped()}"> Winter Tires </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>